AWS_REGION=YOUR_AWS_REGION
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
MAX_RESUMES=5 #ANY OTHER INTEGER
DATABASE_URL=postgresql://user:password@host:port/dbname
CELERY_BROKER_URL=redis://host:port
CELERY_RESULT_BACKEND=redis://host:port
GROQ_API_KEY=YOUR_GROQ_API_KEY
LLM_MODEL=YOUR_LLM_MODEL_NAME

NEXT_PUBLIC_API_URL=http://host:port
IMAGE_HOSTNAME=your-bucket-name.s3.amazonaws.com
INTERNAL_API_URL=http://host:port

GOOGLE_CLIENT_ID=YOUR_GOOGLE_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_SECRET
GOOGLE_REDIRECT_URI=http://host:port/path
FRONTEND_CALLBACK_URL=http://host:port/path

SECRET_KEY=YOUR_SECRET_KEY

REDIS_URL=http://host:port
TTL_SECONDS=86400 #TTL in seconds